@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background:darkgreen;
    color: #fff;
}
header {
    height: 45vh;
}
main {
    min-height:45vh;
}
footer {
    height: 10vh;
}
.image-wrap {
    border-radius: 50%;
}