// .btn and modifyers
.btn {
    // padding: .4rem .6rem;
    padding-top: .25rem;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
    .svg {
        display: inline-block;
    }
    .sr-only {
        display: none;
    }
}