// Defaults
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--footer-bg);
    color: var(--main-color);
    text-align: center;
}
header {
    height: 30vh;
    background:var(--main-bg);
}
main {
    min-height:60vh;
    background:var(--main-bg);
}
nav {
    padding: 1em;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        text-align: center;
        padding: .6em .6em .3em .6em;
        text-decoration: none;
        border-radius: 5px;
    }
    nav > .btn {
        display: block;
    }
}
footer {
    width: 100%;
    color: var(--main-color);    
    min-height: 10vh;
}

.sr-only {
    display: none;
}
.image-wrap {
    border-radius: 50%;
}