// Defaults
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    color: #fff;
    background:var(--main-bg);
    text-align: center;
}
header {
    padding: 5rem 0 0 0;
}
main {
    nav {
        padding: 1em;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
            text-align: center;
            padding: .6em .6em .3em .6em;
            text-decoration: none;
            border-radius: 5px;
        }
        nav > .btn {
            display: block;
        }
    }
}
footer {
    padding: 1rem 0;
    width: 100%;
    color: var(--main-color);    
    background-color: var(--footer-bg);
    p {
        margin:0;
    }
}

.sr-only {
    display: none;
}
.image-wrap {
    border-radius: 50%;
}