/*
 * Defaults
 */
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    color: var(--text);
    background-color:var(--dark);
    text-align: center;
}
header {
    padding: 5rem 0 0 0;
}
main {
    nav {
        padding: 1em;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
            text-align: center;
            padding: .6em .6em .3em .6em;
            text-decoration: none;
            border-radius: 5px;
        }
        nav > .btn {
            display: block;
        }
    }
}
footer {
    width: 100%;
    color: var(--text);
    background-color: var(--dark);
    .container {
        padding: 1rem 0;
        border-top: 1px solid var(--light);   
        p {
            margin:0;
        } 
    }
}
.sr-only {
    display: block;
    width: 0; height: 0;
    overflow: hidden;
}
.image-wrap {
    border-radius: 50%;
    max-width: 60%;
}