// Icons
.github {
    color: white;
    background-color: var(--github);
}
.twitter {
    color: white;
    background-color:var(--twitter);

}
.linkedin {
    color:white;
    background-color: var(--linkedin);
}
.codepen {
    color: white;
    background-color: var(--codepen);
}